*.egg-info/
*.pyc
.pypirc
/.cache/
/.coverage
/.env
/.envrc
/.pytest_cache/
/build/
/dist/
/htmlcov/
/tmp/
/toot-*.tar.gz
debug.log
/pyrightconfig.json
/venv/
/book
.idea/coot.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
*.xml
